$max-screen: 1440px;
$mob-screen: 376px; // ? 375px + 1 -- iPhone X
$mid-1-screen: 750px; // ? testimonial - flex-col
$mid-2-screen: 650px; // ? sec-feat, sec-sign-in flex change
$mid-footer-screen: 900px; // ? footer flex direction col
