$max-screen: 1440px;
$mob-screen: 500px; // ? 375px -- iPhone X
$mid-1-screen: 900px; // ? testimonial - flex-col
$mid-2-screen: 700px; // ? sec-feat, sec-sign-in flex change
$mid-footer-screen: 950px; // ? footer flex direction col
$mid-fa-transition: 1100px;
